.top-container {
    // width: 62vw;
    height: 889px;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.wrapper {
    @include flex;
    // width: 62vw;
    background-color: black;
    height: 118px;
    margin: 0 auto;
    align-items: center;
    max-width: 1200px;

}

.mini-wrapper {
    @include flex;
    align-items: center;
    height: 41px;
    cursor: pointer;

    &:hover {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(47deg) brightness(101%) contrast(101%);

    }
}

.mini-wrapper>h2 {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
    color: rgba(141, 129, 172, 1);
}

li {
    list-style-type: none;
}

.header-list {
    @include flex;
    align-items: center;
    width: 52vw;
    justify-content: end;

}

#header-list-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    padding-left: 48px;

    a {
        text-decoration: none;
        color: rgba(141, 129, 172, 1);


    }

    &:last-child {
        padding-right: 48px;

        @media (max-width:$phone) {
            padding-right: 0;
        }

        @media (max-width:$tab) {
            padding-right: 0;
        }
    }

}

#btn-purchase {
    width: 145px;
    padding: 11px 20px;
    color: white;
    background-color: rgba(141, 129, 172, 1);
    border-radius: 40px;
    text-align: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
}

.titles-container {
    text-align: center;
    margin: auto;
}

.titles {
    display: flex;
    flex-direction: column;
    margin-top: 126px;
    margin: 126px 0 auto;
}

#main-title {
    font-size: 82px;
    font-weight: 700;
    color: white;
    margin: 0 auto;
}

#under-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;

    @media (max-width:$phone) {
        text-transform: capitalize;
    }

    color: rgba(141, 129, 172, 1);
}

#version-title {
    color: rgba(132, 142, 151, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0;
}



#down-title {
    width: 268px;

    font-weight: 700;
    font-size: 21px;
    line-height: 22px;

    margin: auto;
    margin-top: 450px;
    color: white;
    padding: 21px 59px;
    border: 2px solid rgba(141, 129, 172, 1);
    border-radius: 40px;
    background-color: rgba(141, 129, 172, 1);

    @media (max-width: $tab) {
        margin-top: 584px;
    }


}

#bottom-title {
    margin: 19px auto 66px auto;
    color: rgba(132, 142, 151, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
}

#header-list-item a:hover,
.mini-wrapper>h2:hover {
    color: white;
}

#btn-purchase:hover,
#down-title:hover {
    background-color: white;
    color: rgba(141, 129, 172, 1);
    cursor: pointer;
}

@media (max-width: $tab) {
    .wrapper {
        justify-content: space-between;
    }

    .header-list {
        margin-top: 55px;
        position: absolute;
        justify-content: space-between;
        padding-left: 0;
        width: 80vw;
    }

    #header-list-item {

        font-size: 2.1vw;

        &:first-child {
            padding-left: 90px;

        }
    }

    .wrapper {
        background: rgba(39, 38, 42, 1);
        align-items: flex-start;
        padding: 22px 30px 0px 30px;
        height: 95px;

    }

    #btn-purchase {
        position: relative;
        right: -26vw;
        width: 99px;
        font-size: 12px;


        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
    }

    #main-title {
        font-size: 60px;
    }

    #under-title {
        font-size: 24px;
    }

    #down-title {
        // width: 44vw;
        margin: auto;
        margin-top: 444px;
        padding: 21px 59px;
    }

    .titles {
        height: 165px;
    }
}

@media(max-width: $phone) {
    .mini-wrapper>h2 {
        display: none;
    }

    .header-list {
        flex-direction: column;
        width: 290px;
        height: 360px;
        padding: 0 10px;
        margin-top: 445px;
        z-index: -1000;
    }

    #header-list-item {
        padding-top: 30px;
        padding-left: 48px;
        font-size: 26px;
        width: 80%;
        color: white;
        height: 88px;
        background-color: rgba(51, 51, 51, 1);
        border-left: 8px solid rgb(51, 51, 51, 1);
        border-bottom: 2px solid rgb(87, 85, 85);
    }

    #header-list-item {


        font-weight: 400;
        font-size: 26px;
        line-height: 26px;

        a {
            color: white;
        }

        &:first-child {
            padding-left: 48px;

        }
    }

    #header-list-item:hover {
        border-left-color: #8D81AC;
        cursor: pointer;
    }

    #header-list-item:hover>a {
        color: rgba(141, 129, 172, 1);
    }

    .top-container {
        height: 718px;
    }

    #mini-line {
        width: 26px;
        height: 2px;
        color: white;
    }

    .wrapper {
        align-items: center;
        padding: 20px 0 0 0;
        margin-bottom: 40px;
        height: 70px;

    }

    #btn-purchase {
        width: 99px;
        padding: 10px;
        position: static;
    }

    .menu {
        display: flex;
        flex-direction: column;
        margin-top: 8.5px;
        width: 26px;
        height: 21px;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 5px;
    }

    #mini-line {
        width: 26px;
        height: 3px;
        background-color: white;
    }

    #mini-line:first-child {
        width: 15px;
    }



    #main-title {
        // width: 250px;
        font-size: 48px;
    }

    #under-title {
        font-size: 18px;
        // width: 267px;
        margin: 19px auto 14px auto;
        padding: 0 30px;
    }

    #version-title {
        font-size: 14px;
    }

    #down-title {
        font-size: 18px;
        // margin-top: 90px;
        // width: 232px;
        margin-top: 405px;
        padding: 13px 16px;
    }

    .titles {
        margin-top: 50px;
    }

}

.active-list {
    z-index: 1000;
}

.active:first-child {
    display: none;
}

.active:nth-child(2) {
    @include trans;
    rotate: 405deg;
    top: 10px;
    right: 1px;
}

.active:last-child {
    @include trans;
    rotate: 135deg;
    bottom: 8px;
    left: -1px;
}
